<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Feed me slow AB</title>
</head>
<body>
<h1>Welcome to restaurant Feed me slow</h1>
<p>You have just entered our delicious order to pick up page</p>
<p>In order to get feed by our extraordinary chefs, please make your choice in our meny below, add goodies to the cart and proceed to checkout. Your food is ready for pickup 30 minutes after that.</p>  
<p>We are open for orders from 12 to 24, Monday to Sunday</p>
<h3>Contact info</h3>
<p>You find us at Kungsgatan 1, 123 45 Stockholm. Parking is available for free outside.</p>
<p>You can contact us by phone at +46 8 123 456 or at info@feedmeslow.se</p>
</body>
</html>