#navbar
    .container.mx-auto
        %nav.flex.items-center.justify-between.flex-wrap.bg-blue-lighter.p-6
            .flex.items-center.flex-no-shrink.text-white.mr-6
                %span.font-semibold.text-2xl.tracking-tight FeedMe
                .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto
                .text-sm.lg:flex-grow
                    %a.px-4.py.2.block.mt-8.lg:float-right.lg:mt-0.text-white.hover:text-grey{href: new_user_session_path}  Login/Register
                    %a.px-4.py.2.block.mt-8.lg:float-left.lg:mt-0.text-white.hover:text-grey.px-4{href: "#"}  Food
                    %a.px-4.py.2.block.mt-8.lg:float-left.lg:mt-0.text-white.hover:text-grey{href: "#"}  Drinks