.container.mx-auto
  %br/
  .max-w-md.rounded.overflow-hidden.shadow-lg
    .w-full.items-center
      = image_tag("Hungry.jpg", :alt => "hungry")
      .px-6.py-4
        %h1.text-center Welcome to restaurant Hungry No More!
        %br/
        %p You have just entered our delicious order to pick up page.
        %br/
        %p In order to get fed by our extraordinary chefs, please make your choice in our meny below, add goodies to the cart and proceed to checkout. Your food is ready for pickup 30 minutes after that.
        %br/
        %p We are open for orders from 12:00 to 24:00, Monday to Sunday
        %br/
        %h2.text-center Contact info
        %p You find us at Kungsgatan 1, 123 45 Stockholm. Parking is available for free outside.
        %br/
        %p
          You can contact us by phone at
          %a{:href => "tel:+468123456"} +46 8 123 456
          or at
          %a{:href => "mailto:info@hungrynomore.se"} info@hungrynomore.se

  .flex.flex-wrap.w-full.border.border-grey-dark.rounded.overflow-hidden.my-4.text-2xl
    %a{:href => "#"} Starters
  .flex.flex-wrap.w-full.border.border-grey-dark.rounded.overflow-hidden.my-4.text-2xl
    %a{:href => "#"} Main Course
  .flex.flex-wrap.w-full.border.border-grey-dark.rounded.overflow-hidden.my-4.text-2xl
    %a{:href => "#"} Desserts
  .flex.flex-wrap.w-full.border.border-grey-dark.rounded.overflow-hidden.my-4.text-2xl
    %a{:href => "#"} Side Dishes
  .flex.flex-wrap.w-full.border.border-grey-dark.rounded.overflow-hidden.my-4.text-2xl
    %a{:href => "#"} Beverages